<form [formGroup]="helperForm">
      <div class="form-header">
        <h2>Helper Details</h2>
        <p>Track, Add & Manage all your helpers at one place</p>
      </div>

    <div class="upload-photo-container">
      <label for="photo-upload" class="upload-label">
        <img *ngIf="uploadedPhotoUrl" [src]="uploadedPhotoUrl" alt="Uploaded photo" class="uploaded-image">
        <span *ngIf="!uploadedPhotoUrl" class="upload-circle">	<mat-icon>cloud_upload</mat-icon>Upload Photo</span>
      </label>
      <p>{{photoText}}</p>
      <input id="photo-upload" type="file" (change)="onPhotoSelected($event)" hidden/>
    </div>


    <mat-form-field appearance="outline">
      <mat-label>Type of Service</mat-label>
      <mat-select formControlName="typeOfService">
        <mat-option *ngFor="let type of serviceTypes" [value]="type"><mat-icon>{{iconMap[type]}}</mat-icon>{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Organization Name</mat-label>
      <mat-select formControlName="organizationName">
        <mat-option *ngFor="let type of Organization" [value]="type">{{ type }}</mat-option>
      </mat-select>
    </mat-form-field>
    

    <mat-form-field appearance="outline">
      <mat-label>Full Name</mat-label>
      <input matInput formControlName="fullName">
    </mat-form-field>


  <mat-form-field appearance="outline">
  <mat-label>Languages</mat-label>

  <mat-select multiple formControlName="languages">
      <mat-select-trigger>
          {{displayText()}}
      </mat-select-trigger>
      <mat-checkbox 
        [checked]="!isAllSelected"
        [indeterminate]="!isIndeterminate"
        (change)="toggleAllSelection()">
        Select All
      </mat-checkbox>
      <mat-option *ngFor="let language of languages" [value]="language.value">{{language.label}}</mat-option>
  </mat-select>

  
  <mat-hint *ngIf="(helperForm.get('languages')?.value?.length) > 0">
    {{ helperForm.get('languages')?.value?.length }}/{{ languages.length }}
  </mat-hint>

  <mat-error *ngIf="helperForm.get('languages')?.hasError('required')">
    Please select at least one language
  </mat-error>
</mat-form-field>


  <div class="gender-field">
    <label class="gender-label">Gender*</label>
    <mat-radio-group formControlName="gender" class="gender-options">
      <mat-radio-button value="Male">Male</mat-radio-button>
      <mat-radio-button value="Female">Female</mat-radio-button>
      <mat-radio-button value="Other">Other</mat-radio-button>
    </mat-radio-group>
    <div class="mat-error" *ngIf="helperForm.get('gender')?.invalid && helperForm.get('gender')?.touched">
      Gender is required
    </div>
  </div>

  <mat-form-field appearance="outline">
  <mat-label>Phone</mat-label>
    <input matInput formControlName="phone" type="tel" placeholder="+91 Phone number">
    <mat-error *ngIf="helperForm.get('phone')?.hasError('pattern')">
      Please enter a valid phone number
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label>Email</mat-label>
      <input matInput formControlName="email">
      <mat-error *ngIf="helperForm.get('email')?.hasError('email')">
          Please enter a valid email address
      </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
      <mat-label>Choose Vehicle Type</mat-label>
      <mat-select formControlName="vehicleType">
          <mat-option *ngFor="let vehicleType of vehicleTypes" [value]="vehicleType">{{vehicleType}}</mat-option>
      </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline" *ngIf="helperForm.get('vehicleType')?.value.length > 0 && helperForm.get('vehicleType')?.value !== 'None'">
      <mat-label>Vehicle Number</mat-label>
      <input matInput formControlName="vehicleNumber" placeholder="TG01AB1234">
  </mat-form-field>

    <div class="upload-container">
      <mat-label>KYC Document*</mat-label>
      <div class="upload-placeholder" (click)="openKycDialog()" *ngIf="!helperForm.get('kycDocument')?.value">
        <mat-icon class="plus-icon" color="primary">add</mat-icon>
          <input formControlName="kycDocument" hidden />
            <mat-error *ngIf="helperForm.get('kycDocument')?.invalid && helperForm.get('kycDocument')?.touched">
            KYC Document is required.
            </mat-error>
      </div>
      <div *ngIf="helperForm.get('kycDocument')?.value" class="file-preview" (click)="openOrPreviewKyc()">
        <div class="pdf-box">
          <mat-icon color="warn" class="pdf-icon">picture_as_pdf</mat-icon>
          <div class="file-details">
            <div class="file-name">{{ helperForm.get('kycDocument')?.value.name }}</div>
            <div class="file-size">
              {{ (helperForm.get('kycDocument')?.value.size / 1024 / 1024) | number:'1.2-2' }} MB
            </div>
          </div>
        </div>
      </div>
    <div *ngIf="useCase === 'add-helper'" class="btn-container">
      <button mat-raised-button color="primary" (click)="formSubmit()" [disabled]="helperForm.invalid">
        Continue
      </button>
    </div>
    <div *ngIf="useCase === 'update-helper'" class="btn-container">
        <button mat-raised-button (click)="formSubmit()" color="primary" [disabled]="helperForm.invalid">Save</button>
    </div>

    </div>
</form>
