.verify-dialog{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    h3{
        display: flex;
        gap: 0.5rem;
        .name{
            color: blue;
            max-width: 150px; 
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap
        }
        .added{
            color: black;
        }

    }
}