mat-card{
  width: 70%;
}
.stepper-container {
  max-width: 800px;
  margin: 0 auto;
  display: inline;
  justify-content: center;
  align-items: center;
  
  .form-content{
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
  }
}
.btn-container {
  margin-top: 2rem;
  text-align: right;
  display: flex;
  gap: 2rem;
  justify-content: flex-end;
}
.back-button{
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 1rem;
  font-weight: bold;
}


